@use 'functions' as *;

$laptop-l: 1439;
$tablet: 1023;
$mobile: 767;
$mobile-s: 320;

@mixin laptop-l {
    @media (width <= rem($laptop-l)) {
        @content;
    }
}

@mixin laptop-l-above {
    @media (width >= rem($laptop-l)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width >= rem($tablet)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width >= rem($mobile)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <= rem($mobile-s)) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (width >= rem($mobile-s)) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}