@use '../helpers' as *;

.btn {
    font-size: rem(17);
    padding: rem(12) rem(20);
    background-color: var(--color-accent);
    border-radius: rem(7);
    border: 1px solid var(--color-accent);
    text-align: center;

    @include hover {
        background-color: transparent;
    }

    @include tablet {
        padding: rem(8) rem(14);
    }

    @include mobile {
        padding: rem(4) rem(12);
        font-size: rem(14);
    }
    
    @include mobile-s {
        padding: rem(2), rem(10);
        font-size: rem(12);
    }
}