@use 'helpers' as *;

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    letter-spacing: -0.03em;
    color: var(--color-light);
    background-color: var(--background-color);
    font-size: 16px;

    @include mobile {
        font-size: 14px;
    }

    @include mobile-s {
        font-size: 12px;
    }

}

p:where(:not([class])) {
    opacity: 0.7;
    font-size: rem(22);

    @include laptop-l {
        font-size: rem(18);
    }

    @include tablet {
        font-size: rem(16);
    }

    @include mobile {
        font-size: rem(14);
    }

    @include mobile-s {
        font-size: rem(8);
    }
}

main {
    flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-weight: 400;
    line-height: 1.25;
}

h1, .h1 {
    font-size: fluid(70, 40);
    letter-spacing: rem(3.2);

    @include laptop-l {
        line-height: 1.15;
    }
}

h2, .h2 {
    font-size: rem(64);
    letter-spacing: 1.56px;

    @include laptop-l {
        font-size: rem(24);
        line-height: 1;
    }

    @include mobile {
        font-size: rem(18);
    }

    @include mobile-s {
        font-size: rem(16);
    }
}


input::placeholder {
    color: var(--color-light);
    opacity: 0.7;
}