@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-light);
  background-color: var(--background-color);
  font-size: 16px;
}
@media (width <= 47.9375rem) {
  body {
    font-size: 14px;
  }
}
@media (width <= 20rem) {
  body {
    font-size: 12px;
  }
}

p:where(:not([class])) {
  opacity: 0.7;
  font-size: 1.375rem;
}
@media (width <= 89.9375rem) {
  p:where(:not([class])) {
    font-size: 1.125rem;
  }
}
@media (width <= 63.9375rem) {
  p:where(:not([class])) {
    font-size: 1rem;
  }
}
@media (width <= 47.9375rem) {
  p:where(:not([class])) {
    font-size: 0.875rem;
  }
}
@media (width <= 20rem) {
  p:where(:not([class])) {
    font-size: 0.5rem;
  }
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 400;
  line-height: 1.25;
}

h1, .h1 {
  font-size: clamp(2.5rem, 1.8509615385rem + 2.8846153846vw, 4.375rem);
  letter-spacing: 0.2rem;
}
@media (width <= 89.9375rem) {
  h1, .h1 {
    line-height: 1.15;
  }
}

h2, .h2 {
  font-size: 4rem;
  letter-spacing: 1.56px;
}
@media (width <= 89.9375rem) {
  h2, .h2 {
    font-size: 1.5rem;
    line-height: 1;
  }
}
@media (width <= 47.9375rem) {
  h2, .h2 {
    font-size: 1.125rem;
  }
}
@media (width <= 20rem) {
  h2, .h2 {
    font-size: 1rem;
  }
}

input::placeholder {
  color: var(--color-light);
  opacity: 0.7;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.9375rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width >= 47.9375rem) {
  .visible-mobile {
    display: none !important;
  }
}

.bold-text {
  font-weight: 700;
}

.underscored-text {
  position: relative;
}
.underscored-text::after {
  content: "";
  position: absolute;
  background: url(../../public/icons/underline.svg) no-repeat;
  width: 100%;
  height: 0.6875rem;
  bottom: -0.3125rem;
  left: 0;
}

:root {
  --color-light: #FFFFFF;
  --color-accent: #118DA8;
  --color-dark: #000000;
  --background-color: #191919;
  --font-family-base: "DM Sans", sans-serif;
  --container-width: 81.25rem;
  --container-padding-x: 4.375rem;
  --transition-duration: 0.2s;
  --small-border-radius: 0.3125rem;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./public/fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.btn {
  font-size: 1.0625rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--color-accent);
  border-radius: 0.4375rem;
  border: 1px solid var(--color-accent);
  text-align: center;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: transparent;
  }
}
@media (any-hover: none) {
  .btn:active {
    background-color: transparent;
  }
}
@media (width <= 63.9375rem) {
  .btn {
    padding: 0.5rem 0.875rem;
  }
}
@media (width <= 47.9375rem) {
  .btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
  }
}
@media (width <= 20rem) {
  .btn {
    padding: 0.125rem, 0.625rem;
    font-size: 0.75rem;
  }
}

.section {
  padding-top: clamp(3.125rem, 1.5024038462rem + 7.2115384615vw, 7.8125rem);
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.header__body {
  display: flex;
  justify-content: space-between;
  padding-block: 1.625rem;
  align-items: center;
}
.header__list {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 47.9375rem) {
  .header__list.is-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 1.875rem;
    margin-bottom: 1.625rem;
  }
  .header__list.is-bottom:not(.is-active) {
    display: none;
  }
}
.header__logo {
  width: clamp(5rem, 3.2692307692rem + 7.6923076923vw, 10rem);
  flex-shrink: 0;
}
.header__link.is-active {
  color: var(--color-accent);
  pointer-events: none;
}

.burger-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid var(--color-dark);
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625rem;
  border-radius: 2px;
}
@media (any-hover: hover) {
  .burger-button:hover {
    border: 2px solid var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    border: 2px solid var(--color-accent);
  }
}
.burger-button__line {
  width: 80%;
  height: 0.125rem;
  background-color: var(--color-light);
  border-radius: 2px;
}

.hero {
  display: flex;
  column-gap: 3.75rem;
  margin-top: 2.5rem;
}
@media (width <= 63.9375rem) {
  .hero {
    margin-top: 1.25rem;
  }
}
@media (width <= 63.9375rem) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/hero.png) no-repeat;
    background-size: cover;
    margin-top: 0;
  }
}
@media (width <= 20rem) {
  .hero {
    background-size: 100% auto;
    background-position: center top;
  }
}
.hero__image {
  width: 600px;
  height: 820px;
}
@media (width <= 89.9375rem) {
  .hero__image {
    width: 31.25rem;
    height: 45rem;
  }
}
@media (width <= 63.9375rem) {
  .hero__image {
    display: none;
  }
}
.hero__title-block {
  margin-top: 15.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 5.625rem;
}
@media (width <= 63.9375rem) {
  .hero__title-block {
    margin-top: 0;
    padding-block: 15.25rem;
  }
}
@media (width <= 20rem) {
  .hero__title-block {
    padding-block: 2.5rem;
    row-gap: 0.625rem;
  }
}
.hero__soc1als {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-inline: 1.25rem;
}
.hero__soc1als-icons {
  display: flex;
  column-gap: 1.0625rem;
}

.decoration {
  position: relative;
}
.decoration::after {
  content: "";
  position: absolute;
}
@media (width <= 63.9375rem) {
  .decoration::after {
    display: none;
  }
}
.decoration--left-top::after {
  background: url(../../../public/icons/decoration.svg) no-repeat;
  width: 4.25rem;
  height: 4.625rem;
  left: calc(var(--container-padding-x) - 1.625rem);
  top: -1.625rem;
}
.decoration--left-bottom::after {
  background: url(../../../public/icons/decoration2.svg) no-repeat;
  width: 9.1875rem;
  height: 5.6875rem;
  left: -2.375rem;
  bottom: -1.625rem;
}

.latest-episodes__list {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.episode {
  display: flex;
  background-color: var(--color-dark);
  padding: 2.5rem;
  border-radius: 1.25rem;
  column-gap: 3.3125rem;
}
@media (width <= 63.9375rem) {
  .episode {
    padding: 1.875rem;
  }
}
@media (width <= 47.9375rem) {
  .episode {
    flex-direction: column;
    align-items: center;
    row-gap: 0.9375rem;
    padding: 0.625rem;
  }
}
.episode__image {
  width: 24.375rem;
  height: 29.0625rem;
}
@media (width <= 63.9375rem) {
  .episode__image {
    width: 18.125rem;
    height: 22.8125rem;
  }
}
@media (width <= 47.9375rem) {
  .episode__image {
    width: 8.75rem;
    height: 13.4375rem;
  }
}
.episode__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (width <= 47.9375rem) {
  .episode__info {
    align-items: center;
    text-align: center;
    row-gap: 0.625rem;
  }
}
.episode__genre {
  padding-inline: 1rem;
  background-color: var(--background-color);
  border-radius: 0.375rem;
}
.episode__number {
  color: var(--color-accent);
}

.person__image {
  width: 40.625rem;
  height: 46.4375rem;
}
@media (width <= 89.9375rem) {
  .person__image {
    width: 28.125rem;
    height: 33.9375rem;
  }
}
@media (width <= 63.9375rem) {
  .person__image {
    width: 15.625rem;
    max-height: 21.4375rem;
  }
}
@media (width <= 47.9375rem) {
  .person__image {
    width: 9.375rem;
    max-height: 15.1875rem;
  }
}
.person__body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 3.75rem;
}
@media (width <= 63.9375rem) {
  .person__body {
    flex-direction: column;
    row-gap: 3.75rem;
  }
}
@media (width <= 47.9375rem) {
  .person__body {
    row-gap: 1.875rem;
  }
}
.person__info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
@media (width <= 63.9375rem) {
  .person__info {
    align-items: center;
    text-align: center;
  }
}
.person__subtitle {
  color: var(--color-accent);
}
@media (width <= 63.9375rem) {
  .person__arrow-icon {
    display: none;
  }
}

@media (width <= 47.9375rem) {
  .newsletter__title {
    font-size: 2rem;
  }
}
@media (width <= 20rem) {
  .newsletter__title {
    font-size: 1.5rem;
  }
}
.newsletter__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.newsletter__body {
  display: flex;
  background-color: var(--color-dark);
  padding: 3.75rem 3.75rem;
  column-gap: 14.375rem;
  border-radius: 1.25rem;
  align-items: center;
}
@media (width <= 63.9375rem) {
  .newsletter__body {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
@media (width <= 47.9375rem) {
  .newsletter__body {
    padding: 1.875rem 1.875rem;
  }
}
@media (width <= 20rem) {
  .newsletter__body {
    padding: 0.9375rem 0.9375rem;
  }
}
.newsletter__subtitle {
  color: var(--color-accent);
}
.newsletter__input {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  padding: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-light);
}
@media (width <= 47.9375rem) {
  .newsletter__input {
    padding: 0.625rem;
  }
}
@media (width <= 20rem) {
  .newsletter__input {
    padding: 0.3125rem;
  }
}
.newsletter__input-wrapper {
  position: relative;
  width: 100%;
  padding-right: 1.25rem;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  align-items: start;
  width: 100%;
}
.newsletter__button {
  color: var(--color-light);
  padding: 0.9375rem 0.9375rem;
}
@media (any-hover: hover) {
  .newsletter__button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .newsletter__button:active {
    color: var(--color-accent);
  }
}
@media (width <= 47.9375rem) {
  .newsletter__button {
    padding: 0.625rem 0.625rem;
  }
}
@media (width <= 20rem) {
  .newsletter__button {
    padding: 0.3125rem 0.3125rem;
  }
}

.reviews__body {
  display: grid;
  gap: 1rem;
}
@media (width >= 63.9375rem) {
  .reviews__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 63.9375rem) {
  .reviews__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.9375rem) {
  .reviews__body {
    grid-template-columns: repeat(1, 1fr);
  }
}

.review {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  border-radius: 1.25rem;
  background-color: var(--color-dark);
  padding: 3.125rem;
}
@media (width <= 63.9375rem) {
  .review {
    padding: 1.5625rem;
  }
}
.review__stars {
  display: flex;
  column-gap: 0.3125rem;
}

.footer__inner {
  padding-bottom: 6.25rem;
  margin-top: 12.5rem;
  display: flex;
  justify-content: space-between;
}
@media (width <= 63.9375rem) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 3.125rem;
  }
}
.footer__soc1als-icon {
  display: flex;
  column-gap: 1.0625rem;
}
@media (width <= 47.9375rem) {
  .footer__soc1als-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.footer__soc1als-icons {
  display: flex;
  column-gap: 1.0625rem;
}
.footer__soc1al-list {
  display: flex;
  column-gap: 0.625rem;
}
.footer__brand {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (width <= 63.9375rem) {
  .footer__brand {
    align-items: center;
  }
}
.footer__brand-soc1als {
  display: flex;
  column-gap: 0.625rem;
}
.footer__other {
  display: flex;
  column-gap: 1rem;
}
@media (width <= 63.9375rem) {
  .footer__other {
    flex-direction: column;
    row-gap: 3.125rem;
  }
}
.footer__navigation {
  display: flex;
  column-gap: 7.5rem;
}
@media (width <= 63.9375rem) {
  .footer__navigation {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    text-align: center;
    row-gap: 2rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

/*# sourceMappingURL=main.css.map */
